<html>
  <head>
    <title>Dipanjan Mukherjee</title>
    <link rel="stylesheet" href="/dotfiles/css/reset.css">
    <link rel="stylesheet" href="/dotfiles/css/base.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  </head>
  <body>
    <div class="page" id="header">
      <a href="/" class="title">Dipanjan Mukherjee</a>
      <a href="/" class="extra">home</a>
      <a href="http://github.com/schatten/" class="extra">orojects</a>
      <a href="resume" class="extra">resume</a>
    </div>

    <div class="page" id="index">
      {{ content }}
    </div>
    </div>
  </body>
</html>

